In [1]:
import pandas as pd

In [2]:
path = "C:\\Users\\lee39\\OneDrive\\Desktop\\preprocessing\\"

patient_df = pd.read_csv(path + "patient_cleaned.csv")
apache_df = pd.read_csv(path + "processed_apacheApsVar.csv")
diagnosis_df = pd.read_csv(path + "processed_diagnosis.csv")
lab_df = pd.read_csv(path + "processed_lab.csv")
treatment_df = pd.read_csv(path + "processed_treatment.csv")

In [3]:
# Drop duplicate rows based on patientunitstayid
patient_df = patient_df.drop_duplicates(subset="patientunitstayid")
apache_df = apache_df.drop_duplicates(subset="patientunitstayid")
diagnosis_df = diagnosis_df.drop_duplicates(subset="patientunitstayid")
lab_df = lab_df.drop_duplicates(subset="patientunitstayid")
treatment_df = treatment_df.drop_duplicates(subset="patientunitstayid")

In [4]:
# Merge datasets one by one on patientunitstayid
merged_df = patient_df.merge(apache_df, on="patientunitstayid", how="left") \
                      .merge(diagnosis_df, on="patientunitstayid", how="left") \
                      .merge(lab_df, on="patientunitstayid", how="left") \
                      .merge(treatment_df, on="patientunitstayid", how="left")

In [6]:
patient_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77144 entries, 0 to 77143
Data columns (total 32 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 77144 non-null  int64
 1   patientunitstayid          77144 non-null  int64
 2   patienthealthsystemstayid  77144 non-null  int64
 3   gender                     77144 non-null  object
 4   age                        77144 non-null  int64
 5   ethnicity                  77144 non-null  object
 6   hospitalid                 77144 non-null  int64
 7   wardid                     77144 non-null  int64
 8   apacheadmissiondx          77144 non-null  object
 9   admissionheight            77144 non-null  float64
 10  hospitaladmittime24        77144 non-null  object
 11  hospitaladmitoffset        77144 non-null  int64
 12  hospitaladmitsource        77144 non-null  object
 13  hospitaldischargeyear      77144 non-null  int64
 14  hospitaldischargetime24    77144 non-null  object
 15  hospitaldischargeoffset    77144 non-null  int64
 16  hospitaldischargelocation  77144 non-null  object
 17  hospitaldischargestatus    77144 non-null  object
 18  unittype                   77144 non-null  object
 19  unitadmittime24            77144 non-null  object
 20  unitadmitsource            77144 non-null  object
 21  unitstaytype               77144 non-null  object
 22  admissionweight            77144 non-null  float64
 23  dischargeweight            77144 non-null  float64
 24  unitdischargetime24        77144 non-null  object
 25  unitdischargeoffset        77144 non-null  int64
 26  unitdischargelocation      77144 non-null  object
 27  unitdischargestatus        77144 non-null  object
 28  uniquepid                  77144 non-null  object
 29  age_group                  77144 non-null  object
 30  unit_admit_period          77144 non-null  object
 31  admission_type             77144 non-null  object
dtypes: float64(3), int64(10), object(19)
memory usage: 19.4+ MB

In [18]:
patient_df[["hospitaladmitoffset", "hospitaldischargeoffset", "unitdischargeoffset", "hospitaldischargestatus", "unitdischargestatus"]]

,hospitaladmitoffset,hospitaldischargeoffset,unitdischargeoffset,hospitaldischargestatus,unitdischargestatus,unit_admit_period
0,0,3596,3596,Expired,Expired,08:00-16:00
1,-780,12492,4813,Alive,Alive,00:00-08:00
2,-25,5534,74,Alive,Alive,16:00-24:00
3,-1336,4063,1869,Alive,Alive,16:00-24:00
4,-1,606,720,Alive,Alive,08:00-16:00
...,...,...,...,...,...,...
77139,-34,3811,1069,Alive,Alive,00:00-08:00
77140,-14,9665,1269,Alive,Alive,00:00-08:00
77141,-206,19098,16259,Alive,Alive,16:00-24:00
77142,-271,6144,431,Alive,Alive,08:00-16:00
77143,-108,9590,928,Alive,Alive,00:00-08:00

In [20]:
patient_df[patient_df["hospitaldischargeoffset"] == patient_df["unitdischargeoffset"]][["hospitaladmitoffset", "hospitaldischargeoffset", "unitdischargeoffset", "hospitaldischargestatus", "unitdischargestatus"]]

,hospitaladmitoffset,hospitaldischargeoffset,unitdischargeoffset,hospitaldischargestatus,unitdischargestatus
0,0,3596,3596,Expired,Expired
21,-1287,1349,1349,Alive,Alive
31,-5,522,522,Alive,Alive
37,-24,2019,2019,Alive,Alive
44,-5,1156,1156,Alive,Alive
...,...,...,...,...,...
77127,-458,1273,1273,Alive,Alive
77129,-170,3590,3590,Expired,Expired
77136,-289,4913,4913,Alive,Alive
77137,0,3090,3090,Alive,Alive
77138,-66,11513,11513,Expired,Expired

In [22]:
patient_df["hospitaldischargestatus"].unique()

array(['Expired', 'Alive'], dtype=object)

In [19]:
merged_df.head()

,Unnamed: 0,patientunitstayid,patienthealthsystemstayid,gender,age,ethnicity,hospitalid,wardid,apacheadmissiondx,admissionheight,...,Hgb,WBC x 1000,albumin,anion gap,creatinine,pH,platelets x 1000,total bilirubin,treatmentstring,has_Vasopressor
0,0,141168,128919,Female,70,Caucasian,59,91,"Rhythm disturbance (atrial, supraventricular)",152.4,...,11.4,19.8,3.0,25.0,260.780,7.20,213.0,88.92,NaN,NaN
1,3,141194,128941,Male,68,Caucasian,73,92,"Sepsis, renal/UTI (including bladder)",180.3,...,8.4,4.4,2.3,11.0,154.700,7.31,139.0,6.84,NaN,NaN
2,5,141197,128943,Male,71,Caucasian,67,109,"Sepsis, pulmonary",162.6,...,11.5,29.5,2.9,15.0,82.212,NaN,589.0,5.13,NaN,NaN
3,6,141203,128948,Female,77,Caucasian,66,90,"Arrest, respiratory (without cardiac arrest)",160.0,...,11.3,12.7,1.4,15.0,49.504,7.45,557.0,6.84,NaN,NaN
4,7,141208,128952,Female,25,Caucasian,73,93,"Overdose, sedatives, hypnotics, antipsychotics...",172.7,...,14.3,11.1,4.7,16.0,70.720,NaN,440.0,11.97,NaN,NaN

In [20]:
print(merged_df.columns)

Index(['Unnamed: 0', 'patientunitstayid', 'patienthealthsystemstayid',
       'gender', 'age', 'ethnicity', 'hospitalid', 'wardid',
       'apacheadmissiondx', 'admissionheight', 'hospitaladmittime24',
       'hospitaladmitoffset', 'hospitaladmitsource', 'hospitaldischargeyear',
       'hospitaldischargetime24', 'hospitaldischargeoffset',
       'hospitaldischargelocation', 'hospitaldischargestatus', 'unittype',
       'unitadmittime24', 'unitadmitsource', 'unitstaytype', 'admissionweight',
       'dischargeweight', 'unitdischargetime24', 'unitdischargeoffset',
       'unitdischargelocation', 'unitdischargestatus', 'uniquepid',
       'age_group', 'unit_admit_period', 'admission_type', 'vent', 'eyes',
       'motor', 'verbal', 'GCS', 'diagnosisstring', 'icd9code', 'has_COPD',
       'has_Diabetes', 'has_Metastasis', 'has_Sepsis_A41_9', 'Hgb',
       'WBC x 1000', 'albumin', 'anion gap', 'creatinine', 'pH',
       'platelets x 1000', 'total bilirubin', 'treatmentstring',
       'has_Vasopressor'],
      dtype='object')

In [21]:
columns = ["patientunitstayid", "gender", "age", "ethnicity", "hospitalid", "admission_type",
           "hospitaladmitoffset", "hospitaldischargeoffset",
           "unitdischargestatus", "unitdischargeoffset",
           "has_COPD","has_Diabetes", "has_Metastasis", "has_Sepsis_A41_9", "GCS",
           "vent", "has_Vasopressor",
           "WBC x 1000", "Hgb",
           "platelets x 1000",
           "total bilirubin", "creatinine", "albumin", "pH", "anion gap"]

In [22]:
merged_df = merged_df[columns]

In [23]:
# Check for missing values
missing_values = merged_df.isnull().sum()
missing_values

patientunitstayid              0
gender                         0
age                            0
ethnicity                      0
hospitalid                     0
admission_type                 0
hospitaladmitoffset            0
hospitaldischargeoffset        0
unitdischargestatus            0
unitdischargeoffset            0
has_COPD                    4347
has_Diabetes                4347
has_Metastasis              4347
has_Sepsis_A41_9            4347
GCS                         4752
vent                        4752
has_Vasopressor            15146
WBC x 1000                  1847
Hgb                         1713
platelets x 1000            3281
total bilirubin            20199
creatinine                  1560
albumin                    18752
pH                         41547
anion gap                  12698
dtype: int64

In [24]:
# Drop columns with more than 50% missing values
columns_to_drop = missing_values[missing_values > 0.5 * len(merged_df)].index
columns_to_drop

Index(['pH'], dtype='object')

In [25]:
merged_df = merged_df.drop(columns=columns_to_drop)

In [26]:
missing_values = merged_df.isnull().sum()
missing_values

patientunitstayid              0
gender                         0
age                            0
ethnicity                      0
hospitalid                     0
admission_type                 0
hospitaladmitoffset            0
hospitaldischargeoffset        0
unitdischargestatus            0
unitdischargeoffset            0
has_COPD                    4347
has_Diabetes                4347
has_Metastasis              4347
has_Sepsis_A41_9            4347
GCS                         4752
vent                        4752
has_Vasopressor            15146
WBC x 1000                  1847
Hgb                         1713
platelets x 1000            3281
total bilirubin            20199
creatinine                  1560
albumin                    18752
anion gap                  12698
dtype: int64

In [27]:
# drop rows with missing values
merged_df = merged_df.dropna()

In [28]:
# Check for missing values again
missing_values = merged_df.isnull().sum()
missing_values

patientunitstayid          0
gender                     0
age                        0
ethnicity                  0
hospitalid                 0
admission_type             0
hospitaladmitoffset        0
hospitaldischargeoffset    0
unitdischargestatus        0
unitdischargeoffset        0
has_COPD                   0
has_Diabetes               0
has_Metastasis             0
has_Sepsis_A41_9           0
GCS                        0
vent                       0
has_Vasopressor            0
WBC x 1000                 0
Hgb                        0
platelets x 1000           0
total bilirubin            0
creatinine                 0
albumin                    0
anion gap                  0
dtype: int64

In [29]:
# Save the final merged dataset
merged_df.to_csv("new_final_merged_dataset.csv", index=False)